<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="logo">
            <p>LOGO</p>
        </div>
        <div class="links">
            <input type="checkbox" unchecked  id="check" hidden>
            <button class="copy" id="c" hidden onclick="btn()">&#128980;</button>
            
            <ul>
                <li><a href="#pi" class="nav_link">Home</a></li>
                <li><a href="#srvices" class="nav_link">About</a></li>
                <li><a href="/products" class="nav_link">Products</a></li>
                <li><a href="/cart" class="nav_link">My Cart</a></li>
                <li><a href="#contct" class="nav_link">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="poster_image" id="pi">
        <img src="/photos/poster.jpeg">
    </div>
    <div class="product_grid">
        <p class="pt">PRODUCTS</p>
        
        <div class="product_loop">
            <div class="product_img">
                <img src="/photos/door_step.jpeg" class="pimg">
            </div>
            <div class="product_cnt">
                <p>Product name</p>
                <p>product price</p>
            </div>
        </div>
        <div class="arrow"><a href="#navbar"><button class="shopping">Go To Top <i class="bi bi-arrow-up-circle-fill"></i></button></a></div>
    </div>
    <%- include('footer')%>

</body>
</html>